{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" href="static/login.css">
{% endblock %}
{% block title %}Homepage{% endblock %}
{% block body %}
<div class="login-container">
    <form action="/login" method="POST" class="glass-form">
        <h2 class="form-title">Sign In</h2>

        <!-- Username Input -->
        <input type="text" name="username" placeholder="Username" required class="glass-input">

        <!-- Password Input -->
        <input type="password" name="password" placeholder="Password" required class="glass-input">
        <div id="alert-container" style="min-height: 20px; margin-top: -10px; margin-bottom: 5px; text-align: left; padding-left: 5px;">
            {% if prompt %}
            <span id="prompt-text" style="color: #ff4d4d; font-size: 13px; font-weight: 500;">{{ prompt }}</span>
            {% endif %}
        </div>
        <!-- The Button -->
        <button type="submit" class="glass-button">Sign in</button>
    </form>
    <a href="/register" class="glass-button">Register</a>
</div>




  <!-- 脚注：固定在页面底部 -->
<div style="border-top: 1px solid rgb(0, 0, 0); position: fixed; bottom: 0; left: 0; width: 100%; box-sizing: border-box; padding: 10px; font-size: 15px; text-align: center;">
  <a href="/about" class = "homepagelink">About</a>
  <a href="/repo" class = "homepagelink">Repository</a>
</div>


{% endblock %}